
      <h2 class="text-center">Orders</h2>
        <table class="table text-center">
            <tr>
                <th>Sr.No</th>
                <th>Name</th>
                <th>Mobile No.</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>Pincode</th>
                <th>Payment Status</th>
                <th>Order Details</th>
            </tr>
            <tr *ngFor="let order of orders; let i = index">
                <td>{{(i + 1)}}</td>
                <td>{{order.name}}</td>
                <td>{{order.mobileno}}</td>
                <td>{{order.email}}</td>
                <td>{{order.address}}</td>
                <td>{{order.city}}</td>
                <td>{{order.pincode}}</td>
                <td>{{order.Status}}</td>
                <td><a routerLink="/admin/order-details/{{order.id}}" class="btn btn-primary">Details</a></td>
            </tr>
        </table>

   


